<% pagetitle("Fuel Purchases for #{@vehicle.name}", "car.png") %>

<% content_for('optionbar') do %>
  <div class="option">
    <%= image_tag_with_tooltip 'new.png' %>
    <%= link_to 'Enter new purchase', new_user_vehicle_vehicle_fuel_purchase_path(@user, @vehicle) %>
  </div>
  <%= option "back_to_add_data" %>
  <div class="option">
    <%= image_tag_with_tooltip 'edit.png' %>
    <%= link_to 'Edit account details', edit_user_vehicle_path(@user, @vehicle) %>
  </div>
  <div class="option" %>
    <%= image_tag_with_tooltip('export.png') %>
    <%= link_to 'Export Data', user_vehicle_vehicle_fuel_purchases_path(@user, @vehicle, :format => :xml) %>
  </div>
  <% if @purchases.size > 1 %>
    <%= option "analysis" %>
  <% end %>
<% end %>

<div class="pagecontent">
<% if @purchases.empty? %>
  <%= tip_box("You don't have any data in this account yet! When you next buy fuel, enter it here so we can proceed.") %>
<% elsif @purchases.size == 1 %>
  <%= tip_box("You need two readings in order for us to analyse your data! When you next buy fuel, enter it here so we can proceed.") %>
<% else %>
  <%= tip_box(@tip) %>
<% end %>
<p>
NOTE: If the units are wrong for your vehicle, you can <%= link_to 'change them', edit_user_vehicle_path(@user, @vehicle) %>.
</p>
<table>
  <tr>
  <th>Date</th>
  <th>Amount (<%=h @vehicle.vehicle_fuel_unit.abbreviation %>)</th>
  <th>Type</th>
  <th>Odometer Reading (<%=h @vehicle.vehicle_distance_unit.abbreviation %>)</th>
  <th></th>
  <th></th>
  </tr>
  
<% @purchases.each do |purchase| %>
  <tr id="purchase<%= purchase.id %>">
  <td><%=h purchase.purchased_on.strftime("%d %b %y") %></td>
  <td><%=h purchase.amount %></td>
  <td><%=h purchase.vehicle_fuel_type.name %></td>
  <td><%=h purchase.distance.nil? ? "--" : purchase.distance %></td>
  <td><%= link_to image_tag_with_tooltip('edit.png'), edit_user_vehicle_vehicle_fuel_purchase_path(@user, @vehicle, purchase) %></td>
  <td><%= link_to image_tag_with_tooltip('delete.png'), user_vehicle_vehicle_fuel_purchase_path(@user, @vehicle, purchase), :confirm => 'Delete this purchase?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @purchases %>

</div>
