<big>New Vehicle Fuel Purchase</big>

<%= render "shared/error_messages", :target => @purchase %>

<fieldset>
  <p>
    Amount (<%=h @vehicle.vehicle_fuel_unit.abbreviation %>)<br/>
    <input type="text" name="amount" size="20" emptyok="false" style='-wap-input-format: "*n"'/>
  </p>
  <p>
    Date<br/>
    <%= wml_date_select %>
  </p>
  <p>
    Type<br/>
    <%= wml_select "fuel_type", @vehicle_fuel_types, @purchase.vehicle_fuel_type, :id, :name %>
  </p>
  <p>
    Distance (<%=h @vehicle.vehicle_distance_unit.abbreviation %>)<br/>
    <input type="text" name="distance" size="20" emptyok="false" style='-wap-input-format: "*n"'/>
  </p>
  <p>
    <do type="accept" label="Save">
      <go method="post" href="<%= user_vehicle_vehicle_fuel_purchases_path(@user, @vehicle) %>">
        <postfield name="vehicle_fuel_purchase[amount]" value="$amount"/>
        <postfield name="vehicle_fuel_purchase[purchased_on(3i)]" value="$day"/>
        <postfield name="vehicle_fuel_purchase[purchased_on(2i)]" value="$month"/>
        <postfield name="vehicle_fuel_purchase[purchased_on(1i)]" value="$year"/>
        <postfield name="vehicle_fuel_purchase[vehicle_fuel_type_id]" value="$fuel_type"/>
        <postfield name="vehicle_fuel_purchase[distance]" value="$distance"/>
      </go>
    </do>
  </p>
</fieldset>