<% pagetitle("Readings for #{@account.name}", "electricity.png") %>

<% content_for('optionbar') do %>
  <div class="option">
    <%= image_tag_with_tooltip 'new.png' %>
    <%= link_to 'Enter new reading', new_user_electricity_account_electricity_reading_path(@user, @account) %>
  </div>
  <%= option "back_to_add_data" %>
  <%= option "edit_elec_account", { :user => @user, :account => @account } %>
  <div class="option">
    <%= image_tag_with_tooltip('export.png') %>
    <%= link_to 'Export Data', user_electricity_account_electricity_readings_path(@user, @account, :format => :xml) %>
  </div>
  <% if @electricity_readings.size > 1 %>
    <%= option "analysis" %>
  <% end %>
<% end %>

<div class="pagecontent">
<% if @electricity_readings.empty? %>
  <%= tip_box("You don't have any data in this account yet! Take an electricity reading and enter it here so we can proceed.") %>
<% elsif @electricity_readings.size == 1 %>
  <%= tip_box("You need two readings in order for us to analyse your data! Take another electricity reading (a few days after the first) and enter it here so we can proceed.") %>
<% else %>
  <%= tip_box(@tip) %>
<% end %>
<p>
NOTE: If the units are wrong for your meter, you can change them in the <%= link_to 'edit account details', edit_user_electricity_account_path(@user, @account) %> section.
</p>
<table>
  <tr>
  <th>Date</th>
<% if @account.night_rate %>
  <th>Day (<%=h @account.electricity_unit.abbreviation %>)</th>
  <th>Night (<%=h @account.electricity_unit.abbreviation %>)</th>
<% else %>
  <th>Reading (<%=h @account.electricity_unit.abbreviation %>)</th>
<% end %>
  <th></th>
  <th></th>
  <th></th>
  </tr>
  
<% @electricity_readings.each do |reading| %>
  <tr id="reading<%= reading.id %>">
  <td><%=h reading.taken_on.strftime("%d %b %y") %></td>
<% if @account.night_rate %>
  <td><%=h reading.reading_day %></td>
  <td><%=h reading.reading_night %></td>
<% else %>
  <td><%=h reading.reading_day %></td>
<% end %>
  <td><%= image_tag_with_tooltip('automatic.png') if reading.automatic %></td>
  <td><%= link_to image_tag_with_tooltip('edit.png'), edit_user_electricity_account_electricity_reading_path(@user, @account, reading) %></td>
  <td><%= link_to image_tag_with_tooltip('delete.png'), user_electricity_account_electricity_reading_path(@user, @account, reading), :confirm => 'Delete this reading?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @electricity_readings %>

</div>
