<h1>New Electricity Reading</h1>

<%= error_messages_for 'electricity_reading' %>

<!--[form:electricity_reading]-->
<% if @account.night_rate %>
  <p>
  <label for="electricity_reading_reading_day">Day reading (<%=h @account.electricity_unit.abbreviation %>)</label><br/>
  <%= text_field 'electricity_reading', 'reading_day', :style => '-wap-input-format: "*n"' %>
  </p>
  <p>
  <label for="electricity_reading_reading_night">Night reading (<%=h @account.electricity_unit.abbreviation %>)</label><br/>
  <%= text_field 'electricity_reading', 'reading_night', :style => '-wap-input-format: "*n"' %>
  </p>
<% else %>
  <p>
  <label for="electricity_reading_reading_day">Reading (<%=h @account.electricity_unit.abbreviation %>)</label><br/>
  <%= text_field 'electricity_reading', 'reading_day', :style => '-wap-input-format: "*n"' %>
  <%= hidden_field 'electricity_reading', 'reading_night', :value => "0" %>
  </p>
<% end %>
<p>
  <label for="electricity_reading_taken_on">Date</label><br/>
  <%= date_select 'electricity_reading', 'taken_on', :order => [:day, :month, :year]  %>
</p>
<!--[eoform:electricity_reading]-->

<anchor>
  <go method="post" href="<%= user_electricity_account_electricity_readings_path(@user, @account) %>">
    <postfield name="electricity_reading[reading_day]" value="$(electricity_reading[reading_day])"/>
    <postfield name="electricity_reading[reading_night]" value="$(electricity_reading[reading_night])"/>
    <postfield name="electricity_reading[taken_on(1i)]" value="$(electricity_reading[taken_on(1i)])"/>
    <postfield name="electricity_reading[taken_on(2i)]" value="$(electricity_reading[taken_on(2i)])"/>
    <postfield name="electricity_reading[taken_on(3i)]" value="$(electricity_reading[taken_on(3i)])"/>
  </go>
  Save
</anchor>

<%= link_to 'Back', :controller => '/profile' %>
