<big>New Electricity Reading</big>

<%= render "shared/error_messages", :target => @reading %>

<fieldset>
  <% if @account.night_rate %>
    <p>
      Day reading (<%=h @account.electricity_unit.abbreviation %>)<br/>
      <input type="text" name="reading_day" size="20" emptyok="false" style='-wap-input-format: "*n"'/>
    </p>
    <p>
      Night reading (<%=h @account.electricity_unit.abbreviation %>)<br/>
      <input type="text" name="reading_night" size="20" emptyok="false" style='-wap-input-format: "*n"'/>
    </p>
  <% else %>
    <p>
      Reading (<%=h @account.electricity_unit.abbreviation %>)<br/>
      <input type="text" name="reading_day" size="20" emptyok="false" style='-wap-input-format: "*n"'/>
      <input type="hidden" name="reading_night" size="20" emptyok="false" value="0"/>
    </p>
  <% end %>
  <p>
    Date<br/>
    <%= wml_date_select %>
  </p>
  <p>
    <do type="accept" label="Save">
      <go method="post" href="<%= user_electricity_account_electricity_readings_path(@user, @account) %>">
        <postfield name="electricity_reading[reading_day]" value="$reading_day"/>
        <postfield name="electricity_reading[reading_night]" value="$reading_night"/>
        <postfield name="electricity_reading[taken_on(3i)]" value="$day"/>
        <postfield name="electricity_reading[taken_on(2i)]" value="$month"/>
        <postfield name="electricity_reading[taken_on(1i)]" value="$year"/>
      </go>
    </do>
  </p>
</fieldset>