<tr>
<td>
  <%= h(invitation.group.name) %> <span class="smalltext">(invited by <%=h invitation.inviter.name %>)</span>
</td><td>
  <%= image_tag('true.png') %>
  <%= link_to("Accept", group_invitation_path(invitation.group, invitation), :method => :put) %>
</td><td>
  <%= image_tag('false.png') %>
  <%= link_to("Reject", group_invitation_path(invitation.group, invitation), :method => :delete) %>
</td>
</tr>
