<% pagetitle("Editing #{@group.name}", "group.png") %>

<% content_for('optionbar') do %>
  <%= option "save", :id => "edit_group_#{@group.id}" %>
  <%= option "cancel" %>
  <div class="option">
    <%= image_tag 'delete.png' %>
    <%= link_to 'Delete Group', group_path(@group), :confirm => "Are you sure you want to delete this group? This will remove it for everyone!", :method => :delete %>
  </div>

<% end %>

<div class="pagecontent">
  <%= render :partial => "form" %>
</div>