<% pagetitle h(@group.name), "group.png" %>

<% content_for('optionbar') do %>
  <% unless @current_user.nil? or @group.owner != @current_user %>
    <div class="option">
      <%= image_tag 'edit.png' %>
      <%= link_to 'Edit group', :action => 'edit', :id => @group %>
    </div>
  <% end %>
  <%= option "search" %>
  <% unless @current_user.nil? %>
    <% unless @current_user.groups.include? @group %>
      <% unless @group.private %>
        <div class="option">
          <%= image_tag 'new.png' %>
          <%= link_to 'Join group', user_group_path(@current_user, @group), :method => :put %>
        </div>
      <% end %>
    <% else %>
      <div class="option">
        <%= image_tag 'invite.png' %>
        <%= link_to 'Invite friends', new_group_invitation_path(@group) %>
      </div>
      <div class="option">
        <%= image_tag 'delete.png' %>
        <%= link_to 'Leave group', user_group_path(@current_user, @group), :method => :delete %>
      </div>
    <% end %>
  <% end %>
  <% unless @current_user.nil? %>
    <div class="option">
      <%= image_tag 'group.png' %>
      <%= link_to 'Back to my groups', user_groups_path(@current_user) %>
    </div>
  <% end %>
  <%= option "home" %>
<% end %>

<% content_for('feed') do %>
  <%= auto_discovery_link_tag(:atom, group_url(@group, :format => :atom) ) %>
<% end %>

<div class="pagecontent">
<div class="peekaboofix">
<% unless @group.owner.nil? %>
<div class="smalltext">
<em>Owner: <%= link_to @group.owner.name, :controller => "profile", :login => @group.owner.login %></em>
<% if @group.private %>
<br/><%= image_tag 'warning.png' %><em>This group is invitation only.</em>
<% end %>
<% unless @group.group_invitations.empty? %>
<br/><em><%= pluralize(@group.group_invitations.size, "Invitation") %> outstanding.</em>
<% end %>
</div>
<% end %>
<p>
<%= @group.description %>
</p>
<em><%= @group.users.count %> members:</em>
<div>
<% @group.users.each do |user| %>
<%= friend_link(user, true) %>
<% end %>
</div>
<div class="clearleft">&nbsp;</div>
</div>

<%= render :partial => "shared/leaguetable" %>

<%= render :partial => "/shared/comments", :locals => { :source => @group, 
                                                        :post => (@current_user and @current_user.groups.include?(@group)),
                                                        :feed_controller => 'groups',
                                                        :feed_action => 'show',
                                                        :feed_id => @group} %>

</div>
