<div class="sectiontitle">
Comments
<%= link_to(image_tag_with_tooltip('feed.png'), :controller => feed_controller,  :action => feed_action, :id => feed_id, :format => :atom) rescue nil %>
</div>
<div>
<a name="comments"></a>
<% if post %>
<p>
<%= form_tag :controller => 'comments', :action => 'post' do %>
<%= hidden_field 'comment', 'commentable_id', :value => @profile ? @profile.id : @group.id %>
<%= hidden_field 'comment', 'commentable_type', :value => @profile ? "User" : "Group" %>
<%= text_area 'comment', 'text', :rows => 2, :style => "width: 99%" %><br/>
<%= submit_tag 'Post Comment' %>
<% end %>
</p>
<% end %>
<% @comments.each do |comment| %>
<a name="comment<%= comment.id %>"></a>
<table class="comment" id="comment<%= comment.id %>">
<tr>
<td class="image">
<%= render :partial => "/shared/user_image_link", :locals => { :user => comment.user, :small => true } %>
</td>
<td>
<span class="byline">
at <%= comment.created_at.strftime("%H:%M on %d %b %y") %>, <%= render :partial => "/shared/user_link", :locals => { :user => comment.user } %> said:
</span>
<br/>
<span class="comment">
<%=h comment.text %>
</span>
</td>
<td class="delete">
<% if (@current_user and (comment.user == @current_user or @profile == @current_user or (@group and @group.owner == @current_user))) %>
<%= link_to image_tag_with_tooltip('delete.png'), {:controller => 'comments', :action => 'delete', :id => comment}, :confirm => "Are you sure you want to delete this comment?", :method => :post %>
<% end %>
</td>
</tr>
</table>
<% end %>
</div>
