<% unless params[:controller] == "main" and params[:action] == "index" %>
  <% if @current_user.nil? %>
    <%= render :partial => 'shared/linktab', :locals => {:image => 'home.png', :link => link_to("Log In", :controller => "/main", :action => "index")} %>
  <% else %>
    <%= render :partial => 'shared/linktab', :locals => {:image => 'home.png', :link => link_to("Profile", @current_user)} %>
  <% end %>
<% end %>
<%= render :partial => 'shared/linktab', :locals => {:image => 'blog.png', :link => link_to("Blog", "http://carbondiet.blogspot.com")} %>
<% if @current_user %>
  <%#= render :partial => 'shared/linktab', :locals => {:image => 'forum.png', :link => link_to("Discuss", "http://support.carbondiet.org/discussions?sso=#{CGI.escape(@current_user.multipass)}")} %>
<% else %>
  <%= render :partial => 'shared/linktab', :locals => {:image => 'forum.png', :link => link_to("Discuss", "http://support.carbondiet.org/discussions")} %>
<% end %>
<%= render :partial => 'shared/linktab', :locals => {:image => 'tour.png', :link => link_to("Tour", :controller => "/tour")} %>
<% unless @current_user.blank? or not @current_user.admin %>
  <%= render :partial => 'shared/linktab', :locals => {:image => 'admin.png', :link => link_to("Admin", :controller => "/admin/dashboard")} %>
<% end %>
<% if @current_user %>
  <%#= render :partial => 'shared/linktab', :locals => {:float => :right, :image => 'help.png', :link => link_to("Help", "http://support.carbondiet.org/faqs?sso=#{CGI.escape(@current_user.multipass)}", :id => "help-link" )} %>
<% else %>
  <%= render :partial => 'shared/linktab', :locals => {:float => :right, :image => 'help.png', :link => link_to("Help", "http://support.carbondiet.org/faqs", :id => "help-link" )} %>
<% end %>
<%= render :partial => 'shared/linktab', :locals => {:float => :right, :image => 'code.png', :link => link_to("Code", "http://github.com/Floppy/carbon-diet" )} %>
<div class="clear"></div>