<% pagetitle("Editing #{@account.name}", "electricity.png") %>

<% content_for('optionbar') do %>
  <%= option "save", :id => "edit_electricity_account_#{@account.id}" %>
  <%= option "cancel" %>
  <div class="option" %>
    <%= image_tag_with_tooltip('delete.png') %>
    <%= link_to 'Delete Account', user_electricity_account_path(@user, @account), :confirm => 'Delete this account and all associated data, forever?', :method => :delete %>
  </div>
<% end %>

<div class="pagecontent">
  <%= render :partial => "form" %>
</div>