<div class="tagline">
Saving The Planet. Together.
</div>
<p>
The Carbon Diet can help <b>you</b> to fight climate change by tracking your carbon footprint from day to day, and by comparing your footprint with your friends!
</p>
<div style="margin-left:auto; margin-right:auto;">
<%= image_tag 'default/step1.png' %>
<%= image_tag 'default/step2.png' %>
<%= image_tag 'default/step3.png' %>
<%= image_tag 'default/step4.png' %>
</div>
<p>
Want to know more? <%= link_to 'Take the tour!', :controller => 'tour' %>
</p>
