<% form_tag({:action => 'edit', :id => @vehicle_fuel_purchase}, {:class => "panel", :selected => "true", :title => "Add Fuel", :target => "_self"}) do %>

  <fieldset>

    <div class="row">
      <label for="vehicle_fuel_purchase_amount">Amount (<%=h @vehicle.vehicle_fuel_unit.abbreviation %>)</label>
      <%= text_field 'vehicle_fuel_purchase', 'amount', :value => "" %>
    </div>
    <div class="row">
      <label for="vehicle_fuel_purchase_purchased_on">Date</label>
      <%= date_select 'vehicle_fuel_purchase', 'purchased_on', :order => [:day, :month, :year], :use_short_month => true %>
    </div>
    <div class="row">
      <label for="vehicle_fuel_purchase_vehicle_fuel_type">Type</label>
      <%= collection_select :vehicle_fuel_purchase, :vehicle_fuel_type_id, @vehicle_fuel_types, :id, :name %>
    </div>
    <div class="row">
      <label for="vehicle_fuel_purchase_distance">Mileage (<%=h @vehicle.vehicle_distance_unit.abbreviation %>)</label>
      <%= text_field 'vehicle_fuel_purchase', 'distance', :value => "" %>
    </div>

  </fieldset>

  <a class="whiteButton" type="submit" href="#">Add</a>

<% end %>
