<% pagetitle((@profile == @current_user ? "My Profile" : @profile.name), "home.png") %>

<% content_for('optionbar') do %>
  <% if @profile == @current_user %>
    <% unless @current_user.country.nil? %>
      <%= option "add_data" %>
      <% if @current_user.has_enough_data_to_analyse %>
        <%= option "analysis" %>
      <% end %>
    <% end %>
    <%= option "add_note" %>
    <%= option "settings" %>
  <% else %>
    <%= option "home" %>
  <% end %>
<% end %>

<div class="pagecontent">
  <%= whitelabel_content 'profile/banner' %>
  <div class="leftcolumn">
    <%= render :partial => 'userinfo' %>
    <%= render :partial => 'help' %>
    <%= whitelabel_content 'profile/content' %>
    <%= render :partial => 'newsfeed' %>
  </div>
  <div class="rightcolumn">
    <%= render :partial => 'warnings' %>
    <% if @profile.has_enough_data_to_analyse %>    
      <%= render :partial => 'line' %>
      <%= render :partial => 'stats' %>
      <%= render :partial => 'pie' %>
    <% end %>
  </div>
  <div class="clear">&nbsp;</div>
</div>
