<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <title><%= render :partial => "/shared/title" %><%=h ": " + @pagename if not @pagename.blank? %><%=h ": " + @content_for_pagename if not @content_for_pagename.blank? %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript"><%= @content_for_page_scripts %></script>
  <!--[if IE]>
  <%= stylesheet_link_tag 'application-ie' %>
  <![endif]-->  
  <%= yield :feed %>
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <meta name="Keywords" content="carbon calculator, carbon footprint, climate change, global warming"/>
  <meta name="Description" content="Saving the planet, together! Calculate your daily carbon footprint, take action to reduce it, and share it with the world!"/>
  <meta name="Author" content="James Smith"/>
</head>
<body>

<% unless params[:controller] == "main" and params[:action] == "index" %>
  <div class="userinfo">
  <% if @current_user.nil? %>
    <%= image_tag 'user.png' %>
    <span><%= link_to("Log In or Sign Up", { :controller => "/main", :action => "index" } ) %></span>
  <% else %>
    <%= image_tag @current_user.image %>
    <%= image_tag @current_user.flag if @current_user.flag.present? %>
    <%= link_to h(@current_user.name), :controller => '/profile', :login => @current_user.login %>
    <br/>
    <%= link_to("Settings", { :controller => "/user", :action => "edit" } ) %>
    <span><%= link_to("Log Out", { :controller => "/user", :action => "logout" } ) %></span>
  <% end %>
  </div>
<% end %>

<div class="cd-header">
	<%= render :partial => "/shared/header"

	<div class='alert'>
		We're changing the Carbon Diet, to focus on the energy tracking aspects! Energy-saving actions and social features (friends, groups, and comments) will be REMOVED soon. See the <a href='http://carbondiet.blogspot.co.uk/2013/08/removing-social-features.html'>blog post</a> for details.
	</div>
</div>

<div class="cd-linkbar">
<%= render :partial => "/shared/linkbar" %>
</div>

<% if flash[:notice] %>
<div class="flash">
<%=h flash[:notice] %>
</div>
<% end %>

<div class="cd-content">
  <% if content_for('optionbar').present? %>
  <div class="optionbar">
    <%= yield('optionbar') %>
  </div>
<% end %>
<div>
<% unless (@pagename.nil? or @pagename.blank?) and @content_for_pagename.nil? %>
<div class="pagename">
  <table class="pagename">
    <tr>
      <td class="pagename_left"/>
      <td class="pagename_middle">
        <%= @content_for_pageicon unless @content_for_pageicon.nil? %>
        <%=h @content_for_pagename || @pagename %>
      </td>
      <td class="pagename_right"/>
    </tr>
  </table>
</div>
<% end %>
<%= yield %>
</div>
<div class="clear">&nbsp;</div>
</div>

<div class="cd-footer">powered by <a href="http://github.com/Floppy/carbon-diet">The Carbon Diet</a>: version 0.13.1</div>

<script type="text/javascript" charset="utf-8">
  Tender = {
    hideToggle: true,
    widgetToggles: [document.getElementById('help-link')]
  }
</script>
<script src="https://carbondiet.tenderapp.com/tender_widget.js" type="text/javascript"></script>

</body>
</html>
